@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Mulish:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Mulish", sans-serif;
  font-size: 13px;
}

body {
  background-color: #edeff3;
}

/* Thiết lập màu sắc của thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::ng-deep {
  //Check
  .k-checkbox:checked,
  .k-checkbox.k-checked {
    border-color: #008000;
    color: white;
    background-color: #008000;
  }
}
