<kendo-drawer-container class="drawer-right">
  <kendo-drawer
    #drawerRight
    id="p-kendo-drawer-right"
    [position]="'end'"
    mode="overlay"
    [(expanded)]="expandedRight"
    fillMode="flat"
    (expandedChange)="onExpandChangeRight($event)"
  >
    <ng-template kendoDrawerTemplate>
      <ng-container *ngIf="tempStatus == 0; else elseTitle">
        <span class="title-dl">THÊM MỚI SẢN PHẨM</span>
      </ng-container>
      <ng-template #elseTitle>
        <span class="title-dl">CẬP NHẬT SẢN PHẨM</span>
      </ng-template>
      <hr />
      <div class="wapper-content">
        <kendo-label
          class="k-form font-w mt-10 d-block"
          text="Barcode sản phẩm:"
        >
          <kendo-textbox
            [style.width.%]="100"
            placeholder="Barcode sản phẩm..."
            [(value)]="products.Barcode"
            [disabled]="
              tempStatus == 0 ? false : tempStatus == 1 ? true : false
            "
            (blur)="onChangeBarcode(products.Barcode)"
          >
          </kendo-textbox>
        </kendo-label>

        <kendo-label class="k-form font-w mt-10 d-block" text="Tên sản phẩm:">
          <kendo-textbox
            class="ProductName"
            [style.width.%]="100"
            resizable="auto"
            placeholder="Nhập tên sản phẩm..."
            [(value)]="products.ProductName"
            [readonly]="
              tempStatus == 0 ? false : tempStatus == 1 ? true : false
            "
          >
          </kendo-textbox>
        </kendo-label>

        <kendo-label class="k-form font-w mt-10 d-block" text="Link sản phẩm:">
          <kendo-textbox
            [style.width.%]="100"
            placeholder="Link sản phẩm..."
            [(value)]="products.Alias"
            [readonly]="true"
          >
          </kendo-textbox>
        </kendo-label>

        <kendo-label
          class="k-checkbox-label font-w d-flex_column mt-10 d-block"
          text="FreeShippingImage:"
        >
          <kendo-textbox
            [readonly]="true"
            [style.width.%]="100"
            placeholder="Sản phẩm này có được freeship không?"
            [value]="
              products.FreeShippingImage.length > 0
                ? products.FreeShippingImage
                : ''
            "
          >
          </kendo-textbox>
        </kendo-label>

        <kendo-label
          class="k-form font-w mt-10 d-block"
          text="Trạng thái sản phẩm"
        >
          <kendo-dropdownlist
            [data]="statusItem"
            [(ngModel)]="selectedItemStatus"
            [defaultItem]="selectedItemStatus"
            textField="text"
            valueField="value"
          >
          </kendo-dropdownlist>
        </kendo-label>

        <kendo-label class="k-form font-w mt-10 d-block" text="Loại sản phẩm">
          <kendo-dropdownlist
            [data]="typeData"
            [(ngModel)]="selectedItemTypeData"
            [defaultItem]="selectedItemTypeData"
            textField="text"
            valueField="value"
          >
          </kendo-dropdownlist>
        </kendo-label>

        <div
          class="d-flex_between f-wrap row-gap mt-10 d-block col-gap"
          style="row-gap: 18px"
        >
          <hr style="width: 100%" />
          <div
            class="d-flex col-gap"
            style="width: 45%; justify-content: space-between"
          >
            <kendo-label
              class="k-checkbox-label font-w"
              [for]="products.IsBestPrice"
              text="Best price: "
            ></kendo-label>
            <input
              type="checkbox"
              #IsBestPrice
              kendoCheckBox
              [value]="products.IsBestPrice"
              [readonly]="true"
            />
          </div>
          <div
            class="d-flex col-gap"
            style="width: 45%; justify-content: space-between"
          >
            <kendo-label
              class="k-checkbox-label font-w"
              [for]="IsCombo"
              text="Sản phẩm là combo: "
            ></kendo-label>
            <input
              type="checkbox"
              #IsCombo
              kendoCheckBox
              [value]="products.IsCombo"
              [readonly]="true"
            />
          </div>
          <div
            class="d-flex col-gap"
            style="width: 45%; justify-content: space-between"
          >
            <kendo-label
              class="k-checkbox-label font-w"
              [for]="IsGift"
              text="Sản phẩm là quả tặng: "
            ></kendo-label>
            <input
              type="checkbox"
              #IsGift
              kendoCheckBox
              [value]="products.IsGift"
              [readonly]="true"
            />
          </div>
          <div
            class="d-flex col-gap"
            style="width: 45%; justify-content: space-between"
          >
            <kendo-label
              class="k-checkbox-label font-w"
              [for]="IsHachi24h"
              text="Hachi24h: "
            ></kendo-label>
            <input
              type="checkbox"
              #IsHachi24h
              kendoCheckBox
              [value]="products.IsHachi24h"
              [readonly]="true"
            />
          </div>
          <div
            class="d-flex col-gap"
            style="width: 45%; justify-content: space-between"
          >
            <kendo-label
              class="k-checkbox-label font-w"
              [for]="IsNew"
              text="Sản phẩm mới: "
            ></kendo-label>
            <input
              type="checkbox"
              #IsNew
              kendoCheckBox
              [value]="products.IsNew"
              [readonly]="true"
            />
          </div>
          <hr style="width: 100%" />
        </div>

        <kendo-label class="k-form font-w mt-10 d-block" text="Giá sản phẩm:">
          <kendo-numerictextbox
            [style.width.%]="100"
            [(value)]="products.Price"
            [min]="10000"
            [autoCorrect]="false"
            format="c0"
            [spinners]="false"
          >
          </kendo-numerictextbox>
        </kendo-label>

        <kendo-label class="k-form font-w mt-10 d-block" text="Giá cơ bản:">
          <kendo-numerictextbox
            [style.width.%]="100"
            [(value)]="products.PriceBase"
            [min]="10000"
            [autoCorrect]="false"
            format="c0"
            [spinners]="false"
          >
          </kendo-numerictextbox>
        </kendo-label>

        <kendo-label class="k-form font-w mt-10 d-block" text="Giá VIP:">
          <kendo-numerictextbox
            [style.width.%]="100"
            [(value)]="products.PriceVIP"
            [min]="10000"
            [autoCorrect]="false"
            format="c0"
            [spinners]="false"
          >
          </kendo-numerictextbox>
        </kendo-label>

        <kendo-label class="k-form font-w mt-10 d-block" text="Giảm giá:">
          <kendo-numerictextbox
            [style.width.%]="100"
            [value]="products.Discount / 100"
            [autoCorrect]="false"
            format="p"
            [step]="0.1"
            [min]="0"
            [max]="1"
            [spinners]="false"
            [readonly]="true"
          >
          </kendo-numerictextbox>
        </kendo-label>

        <div class="d-flex_both mt-10 d-block">
          <kendo-label class="k-form font-w" text="Xuất xứ:">
            <kendo-textbox
              [style.width.%]="100"
              placeholder="Xuất xứ..."
              [(value)]="products.OrginalName"
              [readonly]="true"
            >
            </kendo-textbox>
          </kendo-label>
          <kendo-label class="k-form font-w" text="Thương hiệu:">
            <kendo-textbox
              [style.width.%]="100"
              placeholder="Thương hiệu..."
              [(value)]="products.BrandName"
              [readonly]="true"
            >
            </kendo-textbox>
          </kendo-label>
        </div>

        <img
          *ngIf="products.ImageThumb.length > 0"
          class="detail_image mt-10 d-block"
          src="{{ 'http://test.lapson.vn/' + products.ImageThumb }}"
          alt="image"
          style="width: 100px"
        />
      </div>

      <div class="option-tool">
        <button
          class="cancel"
          kendoButton
          title="ĐÓNG"
          [themeColor]="'base'"
          (click)="drawerRight.toggle()"
        >
          ĐÓNG
        </button>
        <ng-container>
          <button
            class="update"
            kendoButton
            title="CẬP NHẬT"
            [themeColor]="'primary'"
            (click)="openDialog()"
            *ngIf="tempStatus == 1; else elseAddProduct"
          >
            CẬP NHẬT
          </button>
        </ng-container>

        <ng-template #elseAddProduct>
          <button
            class="update"
            kendoButton
            [themeColor]="'primary'"
            (click)="openDialog()"
            [style.width]="'auto'"
          >
            THÊM SẢN PHẨM
          </button>
        </ng-template>
      </div>
    </ng-template>
  </kendo-drawer>

  <!-- Start: drawer Left  -->
  <div class="drawer-left">
    <kendo-drawer-content>
      <div class="custom-toolbar">
        <div class="ws4">
          <button
            kendoButton
            icon="menu"
            fillMode="flat"
            (click)="drawerLeft.toggle()"
            class="button"
          ></button>
          <span><img src="assets/images/HachiLogo.png" alt="Logo" /></span>
        </div>
        <app-Header
          class="header"
          (selectedNav)="getValueNav($event)"
        ></app-Header>
      </div>
      <kendo-drawer-container>
        <kendo-drawer
          #drawerLeft
          class="p-kendo-drawer"
          [items]="items"
          mode="push"
          [mini]="true"
          [(expanded)]="expanded"
          [autoCollapse]="false"
          (select)="onSelect($event)"
          (expandedChange)="onExpandChange($event)"
          fillMode="flat"
        >
          <ng-template kendoDrawerItemTemplate let-item>
            <div class="d-flex_column" style="width: 100%">
              <div class="title-menu">
                <img
                  src="assets/images/{{ item.icon }}"
                  alt="icon"
                  style="margin: 0 10px"
                />
                <div
                  class="item-descr-wrap"
                  *ngIf="expanded"
                  style="user-select: none"
                >
                  {{ item.text }}
                  <div
                    *ngIf="item.child !== undefined"
                    class="wapper-chevron"
                    (click)="toggleChildren()"
                  >
                    <img
                      *ngIf="item.child !== undefined"
                      src="assets/images/chevron-down.svg"
                      alt="icon"
                      style="fill: #fff"
                    />
                  </div>
                </div>
              </div>
              <div *ngIf="showChildren" class="wrapper-child">
                <div
                  class="child"
                  *ngIf="selectedItem == item.id && item.child !== undefined"
                >
                  <kendo-buttongroup selection="single" [style.width.%]="100">
                    <button
                      class="btnChild"
                      *ngFor="let i of item.child"
                      kendoButton
                      [toggleable]="true"
                      [themeColor]="'base'"
                      routerLink="/{{ i.path }}"
                    >
                      {{ i.text }}
                    </button>
                  </kendo-buttongroup>
                </div>
              </div>
            </div>
          </ng-template>
        </kendo-drawer>

        <kendo-drawer-content>
          <div id="wrapper-content">
            <router-outlet></router-outlet>
          </div>
        </kendo-drawer-content>
      </kendo-drawer-container>
    </kendo-drawer-content>
  </div>
  <!-- End: drawer left  -->
</kendo-drawer-container>

<!-- Start: Dialog  -->
<kendo-dialog
  *ngIf="opened"
  (close)="closeDialog('cancel')"
  [minWidth]="250"
  [width]="450"
  themeColor="light"
  class="wrapper-dialog"
  style="z-index: 100000"
>
  <!-- Start: header dialog  -->
  <kendo-dialog-titlebar>
    <div class="title-success d-flex">
      <ng-container *ngIf="tempStatus == 0; else TitleDialog">
        <fa-icon [style.fontSize.px]="22" [icon]="faPenSquare"></fa-icon>
        <span class="title-dl">THÊM MỚI SẢN PHẨM</span>
      </ng-container>
      <ng-template #TitleDialog>
        <fa-icon [style.fontSize.px]="22" [icon]="faPenSquare"></fa-icon>
        <span class="title-dl">CẬP NHẬT SẢN PHẨM</span>
      </ng-template>
    </div>
  </kendo-dialog-titlebar>
  <!-- End: header dialog  -->

  <!-- Start: Body dialog  -->
  <div class="body_dialog">
    <p>Bạn chắc chắn muốn cập nhật</p>
    <strong>{{ products.ProductName }}</strong>
    <ng-container *ngIf="tempStatus == 0; else ContentDialog">
      <p>
        Sản phẩm <span style="color: green">ĐƯỢC</span> thêm theo thông tin mới
        đã được nhập.
      </p>
    </ng-container>
    <ng-template #ContentDialog>
      <p>
        Sản phẩm <span style="color: green">ĐƯỢC</span> cập nhật theo thông tin
        mới đã được nhập.
      </p>
    </ng-template>
  </div>
  <!-- Emd: Body dialog  -->

  <!-- Start: action dialog  -->
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDialog('no')" themeColor="base">
      KHÔNG CẬP NHẬT
    </button>
    <ng-container *ngIf="tempStatus == 0; else btnDialog">
      <button
        kendoButton
        imageUrl="assets/images/icon_successful.svg"
        (click)="closeDialog('yes')"
        themeColor="success"
      >
        THÊM SẢN PHẨM
      </button>
    </ng-container>
    <ng-template #btnDialog>
      <button
        kendoButton
        imageUrl="assets/images/icon_successful.svg"
        (click)="closeDialog('yes')"
        themeColor="success"
      >
        CẬP NHẬT
      </button>
    </ng-template>
  </kendo-dialog-actions>
  <!-- End: action dialog  -->
</kendo-dialog>
<!-- End: Dialog  -->
