<div class="wrapper_table">
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Người bán</th>
                <th scope="col">Phân nhóm</th>
                <th scope="col">Xuất xứ</th>
                <th scope="col">Thương hiệu</th>
                <th scope="col">Giá bán lẻ</th>
                <th scope="col">Quản lý date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngIf="productList">
            <tr *ngFor="let product of productList" class="bg-white">
                <td class="title-product">
                    <img src="assets/images/product.svg" alt="product">
                    <div class="sub-title">
                        <span>{{product.title}}</span>
                        <div class="ncode">
                            <span>{{product.poscode}}</span>
                            <span>{{product.barcode}}</span>
                        </div>
                    </div>
                </td>
                <td class="lineHeight">
                    <div>{{product.seller}}</div>
                </td>
                <td class="subgroups text-start">
                    <span *ngFor="let subgroup of product.subgroup">{{subgroup}}</span>
                </td>
                <td class="lineHeight">
                    <div>{{product.origin}}</div>
                </td>
                <td class="lineHeight">
                    <div>{{product.brand}}</div>
                </td>
                <td class="text-end lineHeight">
                    <div>{{product.price | number: '1.0-3'}}</div>
                </td>
                <td class="lineHeight">
                    <input type="checkbox" name="Doing business" id="Doingbusiness">
                </td>
                <td class="lineHeight dropdown_item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle ActionInTable"
                            data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                            <i class="fa-sharp fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end dropdown_item-ul">
                            <li>
                                <button class="dropdown-item" type="button"
                                    [class.selected]="product === selectedProduct" (click)="onSelect(product)">
                                    <i class="fa-sharp fa-solid fa-eye"></i>
                                    Xem chi tiết
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item " type="button">
                                    <i class="fa-sharp fa-solid fa-pen"></i> Chỉnh sửa
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>