<div class="wrapper_table" style="display: flex; flex-direction: column;">


    <kendo-grid [kendoGridBinding]="productList" [pageSize]="limit" [selectable]="false" [skip]="skip" [pageable]="true"
        (pageChange)="pageChange($event)" [height]="523">

        <kendo-grid-column field="title" title="Tên sản phẩm" [width]="300"
            [headerStyle]="{ 'background-color': '#edeff3', 'justify-content': 'flex-start' }" [class]="'title'">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="title-product">
                    <img src="{{dataItem.img}}" alt="product">
                    <div class="sub-title">
                        <span class="title">{{dataItem.title}}</span>
                        <div class="ncode">
                            <span class="poscode">{{dataItem.poscode}}</span>
                            <span class="barcode">{{dataItem.barcode}}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="seller" title="Người bán" [width]="87"
            [headerStyle]="{  'justify-content': 'center' }" [class]="'seller'"> </kendo-grid-column>

        <kendo-grid-column field="subgroups" title=" Phân nhóm" [width]="200" [class]="'subgroups'"
            [headerStyle]="{  'justify-content': 'flex-start' }">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="subgroups">
                    <span class="subClass" *ngFor="let subgroup of dataItem.subgroup">{{subgroup}}</span>
                </div>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="origin" title="Xuất xứ" [width]="80" [headerStyle]="{  'justify-content': 'center' }"
            [class]="'origin'">
        </kendo-grid-column>

        <kendo-grid-column field="brand" title="Thương hiệu" [width]="104" [class]="'brand'"
            [headerStyle]="{  'justify-content': 'left' }">
            <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                <span>{{dataItem.brand}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="price" title="Giá bán lẻ" [width]="95" [class]="'price'"
            [headerStyle]="{  'justify-content': 'flex-end' }">
            <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                <span class="k-span-price">{{dataItem.price | number:'1.0-2'}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-checkbox-column field="checkdate" title="Quản lý date" [width]="116" [class]="'checkdate'"
            [headerStyle]="{  'justify-content': 'center' }">
            <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                <input type="checkbox" name="Doing business" id="Doingbusiness" [checked]="dataItem.checkdate">
            </ng-template>
        </kendo-grid-checkbox-column>

        <kendo-grid-column field="" title="" [width]="45" [class]="'btn-grid'">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle ActionInTable"
                        data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        <i class="fa-sharp fa-solid fa-ellipsis"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end dropdown_item-ul">
                        <li>
                            <button class="dropdown-item" type="button" (click)="onButtonClickViewDetail(dataItem)">
                                <i class="fa-sharp fa-solid fa-eye"></i>
                                Xem chi tiết
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item " type="button">
                                <i class="fa-sharp fa-solid fa-pen"></i> Chỉnh sửa
                            </button>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </kendo-grid-column>
        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-page-sizes [pageSizes]="limits" class="pageSize"></kendo-pager-page-sizes>
            <div class="pagi">
                <kendo-pager-prev-buttons [className]="'k_prev'"></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons [className]="'k_next'"></kendo-pager-next-buttons>
            </div>
        </ng-template>
    </kendo-grid>
</div>