<div class="DateTimePicker-wrapper">
  <div class="wrapper-datepicker">
    <kendo-datepicker
      #calendarRef
      class="h-DateTimePicker"
      format="dd/MM/yyyy HH:mm"
      [(value)]="date"
      [disabledDates]="disabled"
      calendarType="classic"
      class="DateEnd DateClass"
      id="time-picker"
      [fillMode]="'flat'"
      [popupSettings]="popupSettings"
      [style.width.px]="235.77"
      (open)="onOpen()"
      (close)="onClose($event)"
      (blur)="onBlur()"
      (valueChange)="onChangeValueDate($event)"
    >
      <ng-template kendoCalendarHeaderTitleTemplate let-title>
        <span class="titlePicker" [attr.data-title]="title">
          {{ title | translate }}
        </span>
        <ng-template kendoCalendarMonthCellTemplate let-date>
          <span [ngClass]="isHidden(date, title)">{{ date.getDate() }}</span>
        </ng-template>
      </ng-template>
    </kendo-datepicker>
  </div>
</div>

<div id="TimePicker">
  <hr />
  <div class="check-wrapper">
    <label [for]="alldate" class="lable-allcheck">
      Cả ngày
      <input
        type="checkbox"
        [(ngModel)]="isChecked"
        class="input-datetime"
        #alldate
        kendoCheckBox
        (click)="onAllDate()"
      />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="wrapper-time">
    <kendo-dropdownlist
      [data]="listItems"
      [style.width.px]="102"
      [style.height.px]="24"
      class="dropTime"
      [defaultItem]="valuedefault"
      [value]="valuedefault"
      [disabled]="isChecked"
      (valueChange)="valueChangeTime($event)"
      (selectionChange)="selectionChangeTime($event)"
    ></kendo-dropdownlist>
    <div class="optionTime">
      <kendo-buttongroup selection="single" [disabled]="isChecked">
        <button
          kendoButton
          [toggleable]="true"
          (click)="onAmHandle()"
          title="AM"
        >
          AM
        </button>
        <button
          kendoButton
          [toggleable]="true"
          (click)="onPmHandle()"
          title="PM"
        >
          PM
        </button>
      </kendo-buttongroup>
    </div>
  </div>
</div>
