<div class="filter_group">
    <div class="filter__left">
        <div class="dropdown dropdown_custom">
            <button *ngIf="selectedCategory" class="btn btn-primary dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-sharp {{selectedCategory.icon}}"></i>
                <span *ngIf="selectedCategory.viewValue">{{selectedCategory.viewValue}}</span>
            </button>
            <ul class="dropdown-menu" id="custom_dropdown-menu">
                <li *ngFor="let category of categorys">
                    <a class="dropdown-item" (click)="onSelect(category)">
                        <i class="fa-sharp {{category.icon}}"></i>
                        <span>{{category.viewValue}}</span>
                    </a>
                </li>

            </ul>
        </div>



        <app-checkbox></app-checkbox>
    </div>
    <div class="filter__right">
        <div class="fright">
            <button><i class="fa-sharp fa-solid fa-download"></i></button>
            <button><i class="fa-sharp fa-solid fa-file-excel"></i></button>
        </div>
        <button><i class="fa-sharp fa-solid fa-chevron-down"></i></button>
    </div>


</div>