<div class="filter_group">
  <div class="filter__left">
    <kendo-breadcrumb
      class="breadcrumFilter"
      [items]="items"
      [collapseMode]="'none'"
    >
      <ng-template kendoBreadCrumbItemTemplate let-item let-index="index">
        <div class="item" role="button">
          <span class="item__index">{{ item.text }}</span>
        </div>
      </ng-template>
    </kendo-breadcrumb>
  </div>
  <div class="containerTool">
    <div class="filter__center">
      <kendo-button class="btn-1" imageUrl="assets/images/coupon-list.svg"
        >DANH SÁCH COUPON</kendo-button
      >
      <kendo-button
        class="btn-2"
        imageUrl="assets/images/print.svg"
      ></kendo-button>
      <kendo-button class="btn-3" imageUrl="assets/images/n-check.svg"
        >ÁP DỤNG</kendo-button
      >
      <kendo-button class="btn-4">XÓA ĐỢT PHÁT HÀNH</kendo-button>
      <kendo-dropdownlist
        class="btn-5"
        [data]="listItems"
        defaultItem="TẠO MỚI"
      ></kendo-dropdownlist>
    </div>
    <div class="filter__right">
      <div class="fright">
        <button><img src="assets/images/export.svg" alt="export" /></button>
        <button><img src="assets/images/xlsx.svg" alt="xlsx" /></button>
      </div>
      <button class="chevron">
        <img src="assets/images/chevron.svg" alt="chevron" />
      </button>
    </div>
  </div>
</div>
