<div class="wapper-coupon">
  <div class="info-coupon">
    <div class="header-coupon">
      <div class="info-left">
        <h5 class="text-1">THÔNG TIN COUPON</h5>
        <span class="text-2">Coupon giảm giá đơn hàng</span>
      </div>
      <div class="infi-right">
        <div>
          <button class="btn-1 h-btn" (click)="onTranslate('vi')">
            Tiếng Việt
          </button>
        </div>
        <div class="line">
          <button class="btn-2 h-btn" (click)="onTranslate('ja')">
            日本語
          </button>
        </div>
        <div class="line">
          <button class="btn-3 h-btn" (click)="onTranslate('en')">
            English
          </button>
        </div>
      </div>
    </div>

    <div class="coupon-body">
      <kendo-gridlayout
        [rows]="['auto', 'auto', 'auto', 'auto', 'auto']"
        [cols]="['119px', '32px', '76px', 'auto']"
        [gap]="11"
      >
        <kendo-gridlayout-item [colSpan]="2" class="box">
          <kendo-label class="k-form" text="{{ titles[0] }}">
            <kendo-textbox [value]="'KMGBL22'"> </kendo-textbox>
          </kendo-label>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item class="box">
          <kendo-label class="k-form" text="{{ titles[1] }}">
            <kendo-textbox [value]="'10'" id="quality-coupon"> </kendo-textbox>
          </kendo-label>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item class="box">
          <kendo-label class="k-form" text="{{ titles[2] }}">
            <kendo-textbox
              [style.width.%]="'100'"
              [ngModel]="ProductNameVi"
              [hidden]="isVi"
              (blur)="onBlur()"
              (valueChange)="onChangeProductNameVi($event)"
            ></kendo-textbox>
            <kendo-textbox
              [style.width.%]="'100'"
              [ngModel]="ProductNameJa"
              [hidden]="isJa"
              (blur)="onBlur()"
              (valueChange)="onChangeProductNameJa($event)"
            ></kendo-textbox>
            <kendo-textbox
              [style.width.%]="'100'"
              [ngModel]="ProductNameEn"
              [hidden]="isEn"
              (blur)="onBlur()"
              (valueChange)="onChangeProductNameEn($event)"
            ></kendo-textbox>
          </kendo-label>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [colSpan]="3" class="box">
          <div class="checkbox">
            <kendo-label
              class="k-checkbox-label"
              [for]="checkbox"
              text="{{ titles[3] }}"
            ></kendo-label>
            <input type="checkbox" #checkbox kendoCheckBox />
          </div>

          <kendo-textbox [value]="'1'"> </kendo-textbox>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item class="box">
          <kendo-label class="k-form" text="{{ titles[4] }}">
            <kendo-textbox
              [hidden]="isVi"
              [ngModel]="ConditionVi"
              (blur)="onBlur()"
              (valueChange)="onChangeConditionVi($event)"
            >
            </kendo-textbox>
            <kendo-textbox
              [hidden]="isJa"
              [value]="ConditionJa"
              (blur)="onBlur()"
              (valueChange)="onChangeConditionJa($event)"
            >
            </kendo-textbox>
            <kendo-textbox
              [hidden]="isEn"
              [value]="ConditionEn"
              (blur)="onBlur()"
              (valueChange)="onChangeConditionEn($event)"
            >
            </kendo-textbox>
          </kendo-label>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [colSpan]="3" class="box">
          <div class="checkbox">
            <kendo-label
              class="k-form"
              text="{{ titles[5] }}"
              [for]="valueCoupon"
            >
            </kendo-label>
            <div class="checkboxScale">
              <kendo-label
                class="k-checkbox-label"
                [for]="checkbox2"
                text="{{ titles[6] }}"
              ></kendo-label>
              <input type="checkbox" #checkbox2 kendoCheckBox />
            </div>
          </div>

          <kendo-textbox [value]="''" #valueCoupon> </kendo-textbox>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [rowSpan]="3" class="box">
          <kendo-label text="{{ titles[7] }}">
            <kendo-textarea
              class="textbox"
              [style.width.%]="100"
              [hidden]="isVi"
              resizable="auto"
              [(ngModel)]="DescriptionVi"
              resizable="none"
              (blur)="onBlur()"
              (valueChange)="onChangeDescriptionVi($event)"
            ></kendo-textarea>
            <kendo-textarea
              class="textbox"
              [style.width.%]="100"
              [hidden]="isJa"
              resizable="auto"
              [(ngModel)]="DescriptionJa"
              resizable="none"
              (blur)="onBlur()"
              (valueChange)="onChangeDescriptionJa($event)"
            ></kendo-textarea>
            <kendo-textarea
              class="textbox"
              [style.width.%]="100"
              [hidden]="isEn"
              resizable="auto"
              [(ngModel)]="DescriptionEn"
              resizable="none"
              (blur)="onBlur()"
              (valueChange)="onChangeDescriptionEn($event)"
            ></kendo-textarea>
          </kendo-label>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [colSpan]="3" class="box">
          <kendo-label text="{{ titles[8] }}">
            <div class="datepicker">
              <app-datepicker></app-datepicker>
            </div>
          </kendo-label>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [colSpan]="3" class="box">
          <div class="status-coupon">
            <kendo-label class="status-label" text="{{ titles[9] }}">
              <span class="status-textbox">Đã phê duyệt áp dụng</span>
            </kendo-label>
          </div>
        </kendo-gridlayout-item>
      </kendo-gridlayout>
    </div>
  </div>
</div>
