<div class="wapper-coupon">
  <div class="info-coupon">
    <div class="header-coupon">
      <div class="info-left">
        <h3>THÔNG TIN COUPON</h3>
        <span>Coupon giảm giá đơn hàng</span>
      </div>
      <div class="infi-right">
        <button class="btn-1">Tiếng Việt</button>
        <button class="btn-2">日本語</button>
        <button class="btn-3">English</button>
      </div>
    </div>

    <div class="coupon-body">
      <kendo-gridlayout
        [rows]="[50, 50, 50, 50, 50]"
        [cols]="[89, 45, 119, '100%']"
        [gap]="5"
      >
        <kendo-gridlayout-item [colSpan]="2" class="box rect">
          <span>1</span>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item class="box">
          <span>2</span>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item class="box">
          <span>3</span>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [colSpan]="3" class="box big">
          <span>4</span>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item class="box rect">
          <span>5</span>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [colSpan]="3" class="box">
          <span>6</span>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [rowSpan]="3" class="box">
          <span>7</span>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [colSpan]="2" class="box">
          <span>8</span>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item class="box">
          <span>9</span>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [colSpan]="3" class="box">
          <span>10</span>
        </kendo-gridlayout-item>
      </kendo-gridlayout>
    </div>
  </div>
</div>
