@import "custom";
@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Mulish:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  background-color: #edeff3;
}

.wrapper {
  display: flex;
  background-color: #edeff3;
  padding: 0;
  column-gap: 5px;
  overflow: hidden;
}

.sidebar-container {
  width: 220px;
  background-color: #5a6276;
  padding-top: 51px;
}

.content-container {
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
