:host ::ng-deep {
  .Sidebar-wapper {
    min-height: 95vh;

    .panelbar-wrapper {
      .k-link {
        color: #fff;
        background-color: #5a6276;
        border: none;

        .ng-trigger {
          background-color: #1a2334;
        }
      }
      .panel-tag {
        border: none;

        .k-panelbar > .k-item > .k-link.k-selected,
        .k-panelbar > .k-panelbar-header > .k-link.k-selected {
          color: #fff !important;
          font-weight: 700;
          background-color: #1a2334;
        }

        .k-panelbar-item {
          border: none;
        }
      }
    }
    .k-panelbar > .k-panelbar-header > .k-link.k-selected:hover {
      background-color: #5a6276;
    }
    .k-panelbar > .k-item > .k-link.k-selected,
    .k-panelbar > .k-panelbar-header > .k-link.k-selected {
      background: #1a2334 !important;
      color: #fff !important;
      border-left: 3px solid #fff;
    }

    .k-panelbar .k-group > .k-panelbar-item > .k-link:hover {
      background-color: #1a2334;
    }

    .k-panelbar .k-group > .k-panelbar-item > .k-link.k-selected {
      font-weight: 700;
      background: #1a2334 !important;
    }

    .k-panelbar > .k-panelbar-header > .ng-trigger .k-link {
      background: #1a2334 !important;
    }
  }
}
