.wrapper {
  width: 220px;
  background-color: #5a6276;
  padding-top: 51px;
}

.btn_sidebar {
}

.btn_link {
  width: 100%;
  height: 51.58px;
  color: #fff;
  font-weight: 700;
  background-color: #1a2334;
}
