.wrapper {
  width: 220px;
  background-color: #5a6276;
  padding-top: 51px;
}

.btn_sidebar {
  .btn_link {
    width: 100%;
    height: 51.58px;
    padding-left: 16px;
    color: #fff;
    font-weight: 700;
    background-color: transparent;
    justify-content: flex-start;
    outline: none;
    border: none;
    box-shadow: none;
    align-items: center;
    column-gap: 16px;
  }

  .h-btn-active {
    background-color: #1a2334 !important;
  }
  .subContainer {
    display: none;
    text-align: left;
    transition: display 0.3s ease-in-out;
    -webkit-transition: display 0.3s ease-in;
    -moz-transition: display 0.3s ease-in;
    -o-transition: display 0.3s ease-in;
    -ms-transition: display 0.3s ease-in;
    transition: display 0.3s ease-in;

    .submenu {
      display: block;
      background-color: #1a2334;
      box-shadow: 0 3px 6px rgba(149, 157, 179, 0.2);
      text-align: left;
      color: #fff;
      padding: 10px 53px;
      font-weight: 700;
      font-size: 13px;
    }
  }
}

.showSub {
  display: block !important;
}
