$height: 44px;

.sizePagi {
  width: 35px;
  height: $height;
}

.height {
  height: $height;
}

.wrapper_footer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0px 15px;
}

.page-link {
  display: flex;
  align-items: center;
  color: #959db3;
}

.page-link:active {
  background-color: #959db3;
  color: #ffffff;
}

.pagination {
  column-gap: 9px;
}

.pagiLeft {
  display: flex;
  height: 29px;
  align-items: center;
  align-content: center;
  column-gap: 20px;

  // span {
  //   font-size: 16px;
  //   color: #959db3;
  // }

  // select {
  //   outline: none;
  //   font-size: 16px;
  //   border: none;
  //   background-color: transparent;
  //   width: 45px;
  // }

  // select > option {
  //   display: block;
  //   padding: 10px 20px;
  //   color: #959db3;
  // }
}

::ng-deep #selectSize {
  display: -webkit-inline-box;
  width: 70px !important;
  border: none !important;
}

::ng-deep .optionSize {
  width: 100% !important;
}

::ng-deep .mat-mdc-option .mat-pseudo-checkbox-minimal {
  display: none;
}

::ng-deep .mdc-menu-surface.mat-mdc-select-panel {
  padding: 0 !important;
}
