<footer class="wrapper_footer">
    <div class="pagiLeft">
        <span>Hiển thị mỗi trang</span>

        <mat-form-field appearance="fill" id="selectSize">
            <mat-select [(value)]="selected" class="optionSize">
                <mat-option value="option1">10</mat-option>
                <mat-option value="option2">20</mat-option>
                <mat-option value="option3">50</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <nav aria-label="Page navigation height">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link height fw-bold">Đầu</a>
            </li>
            <li class="page-item">
                <a class="page-link sizePagi">
                    <span aria-hidden="true">
                        <i class="fa-sharp fa-solid fa-chevron-left"></i>
                    </span>
                </a>
            </li>
            <li class="page-item fw-bold ">
                <a class="page-link sizePagi" (click)="buttonActive()" [ngClass]="{ 'pagiActive': isActive }">1</a>
            </li>
            <li class="page-item fw-bold ">
                <a class="page-link sizePagi">2</a>
            </li>
            <li class="page-item fw-bold ">
                <a class="page-link sizePagi">3</a>
            </li>
            <li class="page-item fw-bold ">
                <a class="page-link sizePagi" aria-label="Next">
                    <span aria-hidden="true">
                        <i class="fa-sharp fa-solid fa-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link height fw-bold">
                    Cuối
                </a>
            </li>
        </ul>
    </nav>
</footer>