<section class="section">
  <div class="section_margin">
    <label class="k-checkbox-label" for="active"> Phiếu mua hàng </label>
    <input
      type="checkbox"
      id="active"
      kendoCheckBox
      [(ngModel)]="isActive"
      (change)="onCheckActiveChange()"
    />
  </div>

  <div class="section_margin">
    <label class="k-checkbox-label" for="isInActive"> Coupon </label>
    <input
      type="checkbox"
      id="isInActive"
      kendoCheckBox
      [(ngModel)]="isInActive"
      (change)="onCheckInActiveChange()"
    />
  </div>
</section>
