$height_checkbox: 32px;
.section {
  display: flex;
  column-gap: 21px;
  height: 32px;
  align-items: center;
  align-content: center;
}

.section_margin {
  height: $height_checkbox;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: 600 !important;
  color: #959db3 !important;
  border-radius: 14px;
  padding: 0 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 6px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Các trình duyệt khác */

  input {
    width: 14px;
    height: 14px;
    border-color: #999999;
  }

  kendo-label {
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Các trình duyệt khác */
  }

  ::ng-deep {
    .k-checkbox {
      background-color: none !important;
    }
  }
}

.mat-mdc-checkbox-checked {
  border: 2px solid #008000 !important;
  border-radius: 14px !important;
}

.mat-mdc-checkbox {
  background: #ffffff !important;
  border: 2px solid #ffffff;
  padding: 0 8px;
  border-radius: 14px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Các trình duyệt khác */
}

.mdc-form-field {
  height: 32px !important;
}

.mat-mdc-checkbox label {
  font-weight: 700 !important;
}

::ng-deep .mdc-checkbox__background {
  width: 16px;
  height: 16px;
}
