/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "/src//assets//scss//main-css//dist//scss//index.scss";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

* {
  box-sizing: border-box !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Mulish";
}

.mdc-form-field {
  display: flex !important;
  flex-direction: row-reverse !important;
  height: 32px;
}

.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background,
.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  border-color: #008000 !important;
  background-color: #008000 !important;
}

.mdc-checkbox {
  width: 32px;
  height: 32px;
  padding: 7px;
}

.mdc-checkbox__background {
  top: 10px !important;
}

.mat-mdc-checkbox-touch-target {
  width: 32px !important;
  height: 32px !important;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control {
  width: 32px !important;
  height: 32px !important ;
}

ul#custom_dropdown-menu {
  width: 152px !important;
}

.mat-mdc-checkbox .mdc-checkbox {
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  display: flex;
  align-items: center;
  height: 29px !important;
  background-color: transparent !important;
}

::ng-deep {
  .mat-form-field-underline {
    display: none !important;
  }
}

/* Thiết lập chiều rộng của thanh cuộn */
::-webkit-scrollbar {
  width: 8px;
  height: 245.88px;
}

/* Thiết lập màu sắc của thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
