/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "/src//assets//scss//main-css//dist//scss//index.scss";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

* {
  box-sizing: border-box !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Mulish";
}

.k-checkbox-label {
  user-select: none !important;
}

.d-flex_around {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important ;
}

.d-flex_between {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.d-flex_both {
  display: flex !important;
  align-items: center !important;
}

.d-flex_column {
  display: flex !important;
  flex-direction: column !important;
}

.k-radio {
  background-color: #fff;
  border: 1px solid #999999;
}

.k-checkbox:disabled,
.k-checkbox.k-disabled {
  border: #1a663459;
}

/* Thiết lập chiều rộng của thanh cuộn */
::-webkit-scrollbar {
  width: 8px;
}

/* Thiết lập màu sắc của thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

:ng-deep {
  .k-animation-container {
    .k-popup {
      .k-date-tab {
        .k-datetime-buttongroup {
          //check
          #TimePicker {
            display: block;
            padding: 0 10px 16px;

            .check-wrapper {
              display: flex;
              align-items: center;
              column-gap: 8px;
              text-align: start !important;
              cursor: pointer;
              font-size: 22px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;

              .lable-allcheck {
                position: relative;
                padding-left: 30px;
                input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0;

                  &:checked ~ .checkmark {
                    background-color: #008000;
                  }

                  &:checked ~ .checkmark:after {
                    display: block;
                  }
                }
              }

              .checkmark {
                position: absolute;
                top: 1px;
                left: 0;
                height: 16px;
                width: 16px;
                background-color: #eee;
                border-radius: 100%;
                border: 1px solid;

                &::after {
                  left: 5px;
                  top: 2px;
                  width: 4px;
                  height: 8px;
                  border: solid white;
                  border-width: 0px 1px 1px 0;
                  transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                }
              }

              &:hover input ~ .checkmark {
                background-color: #ccc;
              }
            }

            .wrapper-time {
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .dropTime {
                background-color: #fff;

                &:focus {
                  border: 1px solid #008000 !important;
                }
              }

              .optionTime {
                .k-button-group {
                  column-gap: 10px;
                  button {
                    width: 35px;
                    height: 35px;
                    border-radius: 100% !important;
                  }
                }
              }
            }
          }
        }
        .k-datetime-selector {
          transform: translateX(0) !important;
          .k-datetime-calendar-wrap {
            .k-calendar-classic {
              .k-calendar-range {
                .k-calendar-header {
                  .k-calendar-nav {
                    .k-calendar-nav-today {
                      display: none;
                    }
                    .k-button-flat:hover {
                      background-color: #f5f6f8;
                      border-radius: 30px;
                    }

                    .k-button-flat {
                      margin-left: 10px;
                    }
                    .k-calendar-title {
                      font-weight: 700;
                      font-size: 13px;
                      color: #5a6276;
                      text-transform: capitalize;
                    }
                  }
                }
                .k-calendar-view {
                  margin: 0;
                  padding: 0;
                  height: 100%;
                  min-height: 205px;
                  .k-calendar-table {
                    width: 100%;
                    padding: 5px;
                    .k-calendar-thead {
                      display: none;
                    }
                    .k-calendar-tbody {
                      border-spacing: 0;
                      .k-calendar-tr {
                        &:has(.d-none_ceil) {
                          display: none;
                        }
                        .k-other-month {
                          visibility: hidden;
                        }
                        .k-calendar-td {
                          width: 35px;
                          height: 35px;
                          background-color: transparent !important;
                          padding: 3px;
                          font-size: 13px;
                          font-weight: 400;

                          .k-link {
                            width: 35px;
                            height: 35px;
                            border-radius: 30px;
                          }
                        }

                        .k-selected,
                        .k-today.k-selected {
                          .k-link {
                            width: 35px;
                            height: 35px;
                            outline: none;
                            box-shadow: none;
                            color: #ffffff;
                            background-color: #008000;
                          }
                        }

                        .k-today {
                          .k-link {
                            width: 35px;
                            height: 35px;
                            outline: none;
                            box-shadow: none;
                            background-color: #f5f6f8;
                            color: #26282e;
                          }
                        }

                        .k-calendar-td:hover,
                        .k-today:hover,
                        .k-selected:hover {
                          .k-link {
                            width: 35px;
                            height: 35px;
                            outline: #008000 solid 1px;
                            color: #26282e;
                            background-color: transparent;
                          }
                        }

                        .k-disabled {
                          .k-link {
                            width: 35px;
                            height: 35px;
                          }
                        }

                        .k-other-month {
                          visibility: hidden;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .k-datetime-time-wrap {
            display: none;
          }
        }

        .k-datetime-footer {
          display: none;
        }
      }
    }
  }
}
