<!-- Start: Grid  -->
<div class="wrapper-detail-program">
  <div class="header-detail-program">
    <div class="title-detail-program">
      <span>THÔNG TIN CHI TIẾT CHƯƠNG TRÌNH</span>
    </div>
    <div class="search-detail-program">
      <div class="wrapper-search">
        <kendo-textbox
          [style.width.px]="372"
          fillMode="solid"
          placeholder="Tìm theo barcode, poscode, tên sản phẩm"
          type="text"
          class="search-input"
          [(ngModel)]="valueSearch"
        >
          <ng-template kendoTextBoxPrefixTemplate>
            <kendo-textbox-separator></kendo-textbox-separator>
            <span class="k-icon k-i-search"></span>
          </ng-template>
        </kendo-textbox>
        <button
          kendoButton
          [themeColor]="'primary'"
          imageUrl="assets/images/search-btn.svg"
          (click)="handleSearch()"
        >
          Tìm
        </button>
      </div>
    </div>
    <div class="tool-detail-program">
      <button
        kendoButton
        [themeColor]="'base'"
        imageUrl="assets/images/upload.svg"
      ></button>
      <button
        kendoButton
        [themeColor]="'base'"
        imageUrl="assets/images/export.svg"
      >
        Template
      </button>
      <button
        kendoButton
        [themeColor]="'primary'"
        imageUrl="assets/images/plus.svg"
      >
        THÊM MỚI SẢN PHẨM
      </button>
    </div>
  </div>

  <div class="body-detail-program mt-3">
    <app-c-grid-layout-block [dataView]="ListProduct">
      <!-- Start: Body grid  -->
      <kendo-grid-column [class]="'title'">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div class="tool">
            <button
              kendoButton
              [themeColor]="'base'"
              imageUrl="assets/images/dustbin.svg"
              class="dustbin"
              *ngIf="!opened"
              (click)="openDialog(dataItem.Code)"
            ></button>
            <button
              kendoButton
              [themeColor]="'base'"
              imageUrl="assets/images/icon_edit.svg"
              class="edit"
              (click)="handleEdit(dataItem.Code)"
            ></button>
          </div>
          <div class="container-product">
            <div class="content-product">
              <img
                src="{{ 'http://test.lapson.vn/' + dataItem.ImageThumb }}"
                alt="product"
                class="imgProduct"
              />
              <div class="sub-title" kendoTooltip>
                <span class="title" title="{{ dataItem.ProductName }}">{{
                  dataItem.ProductName
                }}</span>
                <div class="ncode">
                  <span class="barcode">{{ dataItem.Barcode }}</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>
      <!-- End: Body grid  -->
    </app-c-grid-layout-block>
  </div>

  <!-- Start: Dialog  -->
  <kendo-dialog
    *ngIf="opened"
    (close)="closeDialog('cancel')"
    [minWidth]="250"
    [width]="450"
    themeColor="light"
    class="wrapper-dialog"
  >
    <!-- Start: header dialog  -->
    <kendo-dialog-titlebar>
      <div class="title-delete d-flex">
        <span
          class="btn-title-dialog"
          kendoButton
          imageUrl="assets/images/warning_red.svg"
        ></span>
        <span>XÓA SẢN PHẨM</span>
      </div>
    </kendo-dialog-titlebar>
    <!-- End: header dialog  -->

    <!-- Start: Body dialog  -->
    <div class="body_dialog">
      <p>Bạn chắc chắn muốn xóa</p>
      <strong>{{ ProductName }}</strong>
      <p>
        Sản phẩm bị xóa sẽ <span style="color: red">KHÔNG</span> thể khôi phục
        lại.
      </p>
    </div>
    <!-- Emd: Body dialog  -->

    <!-- Start: action dialog  -->
    <kendo-dialog-actions>
      <button kendoButton (click)="closeDialog('no')" themeColor="base">
        KHÔNG XÓA
      </button>
      <button
        kendoButton
        imageUrl="assets/images/trash_white.svg"
        (click)="closeDialog('yes')"
        themeColor="error"
      >
        XÓA
      </button>
    </kendo-dialog-actions>
    <!-- End: action dialog  -->
  </kendo-dialog>
  <!-- End: Dialog  -->
</div>
<!-- End: Grid  -->
