::ng-deep {
  app-Layout {
    my-app {
      display: flex;
      flex-direction: column;
    }

    kendo-drawer-container {
      flex: 1 1 auto;
      overflow-y: auto;
      column-gap: 5px;

      .k-drawer-wrapper {
        .k-drawer-items {
          font-size: 13px;
          font-weight: 700;
          background-color: #5a6276;
          color: #fff;

          .k-drawer-item {
            align-items: center;
          }

          .k-state-selected {
            &:focus,
            &:hover {
              background-color: #1a2334;
            }
          }

          .k-state-selected {
            background-color: #1a2334;
          }
        }
      }
    }
    .k-icon {
      font-size: 20px;
    }
    .custom-toolbar {
      display: flex;
      column-gap: 5px;
      width: 100%;
      background-color: #fff;
      border-bottom: inset;
      border-bottom-width: 1px;
      color: #656565;
      .ws4 {
        display: flex;
        width: 240px;
        align-items: center;
        box-shadow: 12px 2px 4px #edeff3;
        .button {
          width: 50px;
          height: 50px;
          justify-content: space-evenly;
          padding: 0;
          background-color: #fff !important;
        }
        span {
          img {
            display: flex;
            flex: 1 0 auto;
            height: 40px;
          }
        }
      }

      .k-focus {
        box-shadow: none;
      }

      .header {
        flex: 1;
      }
    }
  }
}
