<kendo-drawer-container class="drawer-right">
  <kendo-drawer
    #drawerRight
    id="p-kendo-drawer-right"
    [position]="'end'"
    mode="overlay"
    [(expanded)]="expandedRight"
    fillMode="flat"
  >
    <ng-template kendoDrawerTemplate>
      <span class="title-dl">THÊM MỚI SẢN PHẨM</span>
      <hr />
      <div class="wapper-content">
        <kendo-label
          class="k-form font-w mt-10 d-block"
          text="Postcode sản phẩm:"
        >
          <kendo-textbox
            [style.width.%]="100"
            placeholder="Code sản phẩm..."
            readonly="true"
            [(value)]="CodeProduct"
          >
          </kendo-textbox>
        </kendo-label>

        <kendo-label
          class="k-form font-w mt-10 d-block"
          text="Barcode sản phẩm:"
        >
          <kendo-textbox
            [style.width.%]="100"
            placeholder="Barcode sản phẩm..."
            [(value)]="Barcode"
          >
          </kendo-textbox>
        </kendo-label>

        <kendo-label class="k-form font-w mt-10 d-block" text="Tên sản phẩm:">
          <kendo-textbox
            class="ProductName"
            [style.width.%]="100"
            resizable="auto"
            placeholder="Nhập tên sản phẩm..."
            [(value)]="ProductName"
          >
          </kendo-textbox>
        </kendo-label>

        <kendo-label class="k-form font-w mt-10 d-block" text="Link sản phẩm:">
          <kendo-textbox
            [style.width.%]="100"
            placeholder="Link sản phẩm..."
            [(value)]="Alias"
          >
          </kendo-textbox>
        </kendo-label>

        <kendo-label
          class="k-checkbox-label font-w d-flex_column mt-10 d-block"
          text="FreeShippingImage:"
        >
          <kendo-textbox
            [style.width.%]="100"
            placeholder="Sản phẩm này có được freeship không?"
            [value]="FreeShippingImage.length > 0 ? FreeShippingImage : ''"
          >
          </kendo-textbox>
        </kendo-label>

        <kendo-label
          class="k-form font-w mt-10 d-block"
          text="Trạng thái sản phẩm"
        >
          <kendo-dropdownlist
            [data]="statusItem"
            [(ngModel)]="selectedItemStatus"
            [defaultItem]="selectedItemStatus"
            textField="text"
            valueField="value"
          >
          </kendo-dropdownlist>
        </kendo-label>

        <kendo-label class="k-form font-w mt-10 d-block" text="Loại sản phẩm">
          <kendo-dropdownlist
            [data]="typeData"
            [(ngModel)]="selectedItemTypeData"
            [defaultItem]="selectedItemTypeData"
            textField="text"
            valueField="value"
          >
          </kendo-dropdownlist>
        </kendo-label>

        <div class="d-flex_between f-wrap row-gap mt-10 d-block">
          <hr style="width: 100%" />
          <div class="d-flex col-gap" style="width: 50%">
            <kendo-label
              class="k-checkbox-label font-w"
              [for]="IsBestPrice"
              text="Best price: "
            ></kendo-label>
            <input
              type="checkbox"
              #IsBestPrice
              kendoCheckBox
              [value]="IsBestPrice"
            />
          </div>
          <div class="d-flex col-gap" style="width: 50%">
            <kendo-label
              class="k-checkbox-label font-w"
              [for]="IsCombo"
              text="Sản phẩm là combo: "
            ></kendo-label>
            <input
              type="checkbox"
              #IsBestPrice
              kendoCheckBox
              [value]="IsCombo"
            />
          </div>
          <div class="d-flex col-gap" style="width: 50%">
            <kendo-label
              class="k-checkbox-label font-w"
              [for]="IsGift"
              text="Sản phẩm là quả tặng: "
            ></kendo-label>
            <input
              type="checkbox"
              #IsBestPrice
              kendoCheckBox
              [value]="IsGift"
            />
          </div>
          <div class="d-flex col-gap" style="width: 50%">
            <kendo-label
              class="k-checkbox-label font-w"
              [for]="IsHachi24h"
              text="Hachi24h: "
            ></kendo-label>
            <input
              type="checkbox"
              #IsBestPrice
              kendoCheckBox
              [value]="IsHachi24h"
            />
          </div>
          <div class="d-flex col-gap" style="width: 50%">
            <kendo-label
              class="k-checkbox-label font-w"
              [for]="IsHachi24h"
              text="Sản phẩm mới: "
            ></kendo-label>
            <input
              type="checkbox"
              #IsBestPrice
              kendoCheckBox
              [value]="IsHachi24h"
            />
          </div>
          <hr style="width: 100%" />
        </div>

        <kendo-label class="k-form font-w mt-10 d-block" text="Giá sản phẩm:">
          <kendo-numerictextbox
            [style.width.%]="100"
            [(value)]="Price"
            [min]="10000"
            [autoCorrect]="false"
            format="c0"
            [spinners]="false"
          >
          </kendo-numerictextbox>
        </kendo-label>

        <kendo-label class="k-form font-w mt-10 d-block" text="Giá cơ bản:">
          <kendo-numerictextbox
            [style.width.%]="100"
            [(value)]="PriceBase"
            [min]="10000"
            [autoCorrect]="false"
            format="c0"
            [spinners]="false"
          >
          </kendo-numerictextbox>
        </kendo-label>

        <kendo-label class="k-form font-w mt-10 d-block" text="Giá VIP:">
          <kendo-numerictextbox
            [style.width.%]="100"
            [(value)]="PriceVip"
            [min]="10000"
            [autoCorrect]="false"
            format="c0"
            [spinners]="false"
          >
          </kendo-numerictextbox>
        </kendo-label>

        <div class="d-flex_both mt-10 d-block">
          <kendo-label class="k-form font-w" text="Xuất xứ:">
            <kendo-textbox
              [style.width.%]="100"
              placeholder="Xuất xứ..."
              [(value)]="OrginalName"
            >
            </kendo-textbox>
          </kendo-label>
          <kendo-label class="k-form font-w" text="Thương hiệu:">
            <kendo-textbox
              [style.width.%]="100"
              placeholder="Thương hiệu..."
              [(value)]="BrandName"
            >
            </kendo-textbox>
          </kendo-label>
        </div>

        <img
          class="detail_image mt-10 d-block"
          src="{{ 'http://test.lapson.vn/' + ImagesProduct }}"
          alt="image"
          style="width: 100px"
        />
      </div>

      <div class="option-tool">
        <button
          class="cancel"
          kendoButton
          title="ĐÓNG"
          [themeColor]="'base'"
          (click)="drawerRight.toggle()"
        >
          ĐÓNG
        </button>
        <button
          class="update"
          kendoButton
          title="CẬP NHẬT"
          [themeColor]="'primary'"
          (click)="openDialog(CodeProduct)"
        >
          CẬP NHẬT
        </button>
      </div>
    </ng-template>
  </kendo-drawer>

  <!-- Start: drawer Left  -->
  <div class="drawer-left">
    <kendo-drawer-content>
      <div class="custom-toolbar">
        <div class="ws4">
          <button
            kendoButton
            icon="menu"
            fillMode="flat"
            (click)="drawerLeft.toggle()"
            class="button"
          ></button>
          <span><img src="assets/images/HachiLogo.png" alt="Logo" /></span>
        </div>
        <app-Header class="header"></app-Header>
      </div>
      <kendo-drawer-container>
        <kendo-drawer
          #drawerLeft
          class="p-kendo-drawer"
          [items]="items"
          mode="push"
          [mini]="true"
          [(expanded)]="expanded"
          [autoCollapse]="false"
          (select)="onSelect($event)"
          (expandedChange)="onExpandChange($event)"
          fillMode="flat"
        >
          <ng-template kendoDrawerItemTemplate let-item>
            <div class="title-menu" (click)="toggleChildren()">
              <img
                src="assets/images/{{ item.icon }}"
                alt="icon"
                style="margin: 0 10px"
              />
              <div
                class="item-descr-wrap"
                *ngIf="expanded"
                style="user-select: none"
              >
                {{ item.text }}
                <img
                  *ngIf="item.child !== undefined"
                  src="assets/images/chevron-down.svg"
                  alt="icon"
                  style="fill: #fff"
                />
              </div>
            </div>
            <div *ngIf="showChildren" class="wrapper-child">
              <div
                class="child"
                *ngIf="selectedItem == item.id && item.child !== undefined"
              >
                <kendo-buttongroup selection="single" [style.width.%]="100">
                  <button
                    class="btnChild"
                    *ngFor="let i of item.child"
                    kendoButton
                    [toggleable]="true"
                    [themeColor]="'base'"
                  >
                    {{ i.text }}
                  </button>
                </kendo-buttongroup>
              </div>
            </div>
          </ng-template>
        </kendo-drawer>

        <kendo-drawer-content>
          <div id="wrapper-content">
            <app-p-tool-groups></app-p-tool-groups>
            <app-c-information></app-c-information>
            <app-c-conditions></app-c-conditions>
            <app-c-detail [drawerRef]="drawerRef"></app-c-detail>
          </div>
        </kendo-drawer-content>
      </kendo-drawer-container>
    </kendo-drawer-content>
  </div>
  <!-- End: drawer left  -->
</kendo-drawer-container>

<!-- Start: Dialog  -->
<kendo-dialog
  *ngIf="opened"
  (close)="closeDialog('cancel')"
  [minWidth]="250"
  [width]="450"
  themeColor="light"
  class="wrapper-dialog"
  style="z-index: 100000"
>
  <!-- Start: header dialog  -->
  <kendo-dialog-titlebar>
    <div class="title-success d-flex">
      <fa-icon [style.fontSize.px]="22" [icon]="faPenSquare"></fa-icon>
      <span>CẬP NHẬT SẢN PHẨM</span>
    </div>
  </kendo-dialog-titlebar>
  <!-- End: header dialog  -->

  <!-- Start: Body dialog  -->
  <div class="body_dialog">
    <p>Bạn chắc chắn muốn cập nhật</p>
    <strong>{{ ProductName }}</strong>
    <p>
      Sản phẩm <span style="color: green">ĐƯỢC</span> cập nhật theo thông tin
      mới đã được nhập.
    </p>
  </div>
  <!-- Emd: Body dialog  -->

  <!-- Start: action dialog  -->
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDialog('no')" themeColor="base">
      KHÔNG CẬP NHẬT
    </button>
    <button
      kendoButton
      imageUrl="assets/images/icon_successful.svg"
      (click)="closeDialog('yes')"
      themeColor="success"
    >
      CẬP NHẬT
    </button>
  </kendo-dialog-actions>
  <!-- End: action dialog  -->
</kendo-dialog>
<!-- End: Dialog  -->
